img {
    width: 40%
}

.cabecalho {
    width: 1400px;
    height: 100px;
    background-color: pink;
}

.primeirasecao {
    displyay flex;
    width: 1000px;
    height: 500px;
    background-color: blue,{43,186,225};
}
.divisao
width:200px
    height:200px;
    background-color: purple ;
}