img {
    width: 40%
}

.cabecalho {
    width: 1400px;
    height: 100px;
    background-color:violet;
}

.primeirasecao {
    displyay flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 500px;
    background-color: red
}
.divisao
width:200px
    height:200px;
    background-color: purple ;
}